{% extends "base.html" %}

{% block title %} Login {% endblock %}
{% block content %} 

<div style="padding:30px 600px 30px 600px">
    <form method="post">        
        {% csrf_token %}
        <h1 class="h3">Please login</h1>
        
        <div class="row-md-2">
            <input type="email" class="form-control mb-2" name="username" placeholder="name@example.com">                
        </div>
        <div class="row-md-2">
            <input type="password" class="form-control mb-4" name="password" placeholder="Password">                
        </div>
        
        <div class="row-md-2">
            <button class="btn btn-success w-100 py-2" type="submit">Login</button> <br> <br>
            <div class='container'> 
                <div class="d-flex justify-content-between">                     
                    <a href="{% url 'signup' %}" style="font-size: 20px; text-align: right;"> Not registered? </a>  
                </div>
            </div>  
        </div>
    </form>
</div>

{% endblock %}